<!--BEGIN-FOOTER-->
<footer id="footer" class="page-block">
    <div class="container">
        <div class="section no-border">
            <header class="page-head colored clearfix">
                <div id="subscribeForm" class="col-md-6 col-sm-12">
                    {% include layout/default/newsletter.html %}
                </div>

                <div class="col-md-5 col-md-offset-1 col-sm-12">
                    {% include layout/default/social.html %}
                </div>
            </header>
            {% include layout/default/copyright.html %}
        </div>
        <!--end-of-section-->
    </div>
</footer>
<!--END-FOOTER-->
