<h3>Подпишитесь на нашу рассылку</h3>
<form method="post" action="//sarsport.us15.list-manage.com/subscribe/post?u=48e302ec53a487391dd9fe672&amp;id=e16fc4c76c" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="youremail@domain.com" />
    <input type="submit" id="mc-embedded-subscribe" name="subscribe" class="btn" value="SIGN UP" />
</form>
