<h3>Мы в социальных сетях</h3>
<div class="social">
    <ul class="list-inline">
        <li><a class="tips" href="https://vk.com/samba_trail" title="Мы в VK"><i class="fa fa-vk"></i></a></li>
        <li><a class="tips" href="https://www.facebook.com/SambaTrail/" title="Мы на Facebook"><i class="fa fa-facebook"></i></a></li>
        <!--<li><a class="tips" href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a></li>-->
        <!--<li><a class="tips" href="#" title="Follow Us On Pinterest"><i class="fa fa-pinterest-square"></i></a></li>-->
        <!--<li><a class="tips" href="#" title="Follow Us on LinkedIn"><i class="fa fa-linkedin"></i></a></li>-->
        <!--<li><a class="tips" href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>-->
        <!--<li><a class="tips" href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>-->
        <!--<li><a class="tips" href="#" title="Instagram"><i class="fa fa-instagram"></i></a></li>-->
    </ul>
</div>
<!-- end social -->
