<!--BEGIN-FAQ-->
<section id="faq" class="page-block">
    <div class="container">
        <div class="section">
            <header class="page-head colored clearfix">
                <h2>FAQ</h2>
                <p class="text-muted">Часто задаваемые вопросы</p>
            </header>
            <article class="row">
                <div class="panel-group clearfix" id="questions">
                    <div class="col-md-6 col-sm-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#questions" href="#question1"> 1 <span>Треки дистанций</span> </a> </h4>
                            </div>
                            <div id="question1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Дистанция 70.8 км <a href="/gpx/tracedetrail_38338.gpx">GPS трек</a>, официальная <a href="http://tracedetrail.com/en/trace/trace/43204">страница</a> трека.</p>
                                    <p>Дистанция 36.4 км <a href="/gpx/tracedetrail_38025.gpx">GPS трек</a>, официальная <a href="http://tracedetrail.com/en/trace/trace/43202">страница</a> трека.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#questions" href="#question2"> 2 <span>Профиль дистанций</span> </a> </h4>
                            </div>
                            <div id="question2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h5>Профиль дистанции «Ultra»</h5>
                                    <img src="/img/profile/ultra.png">
                                    <h5>Профиль дистанции «Trail»</h5>
                                    <img src="/img/profile/trail.png">
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#questions" href="#question3"> 3 <span>Обязательное снаряжение</span> </a> </h4>
                            </div>
                            <div id="question3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Рюкзак или его эквивалент;</p>
                                    <p>Запас воды в емкостях суммарно не менее 1 литра (на старте);</p>
                                    <p>Запас еды;</p>
                                    <p>Одеяло-спасатель;</p>
                                    <p>Заряженный телефон;</p>
                                    <p>Ветрозащитная куртка;</p>
                                    <p>Аптечка: эластичный бинт 1м * 5-6 см, обезболивающее, стрептоцид или аналог, бинт, лейкопластырь;</p>
                                    <p>Свисток;</p>
                                    <p>Номер, прикрепленный спереди и сзади;</p>
                                    <p>Дистанция «Ultra»: Фонарик с комплектом запасных батареек и спасательный сигнал (на выбор): мигающий свет, фонарик с мигающим режимом, задний велосипедный фонарик.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#questions" href="#question4"> 4 <span>Рекомендуемое снаряжение</span> </a> </h4>
                            </div>
                            <div id="question4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Треккинговые палки;</p>
                                    <p>Перчатки;</p>
                                    <p>Шапочка или бандана;</p>
                                    <p>Ветрозащитная куртка и штаны.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#questions" href="#question5"> 5 <span>Погода</span> </a> </h4>
                            </div>
                            <div id="question5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Температура в этот период может опускаться до 6 градусов тепла. Средняя температура за последние 7 лет 19 градусов. На дистанции будет много открытых участков, продуваемых ветрами. Просим это учитывать при выборе спортивной экипировки.</p>
                                    <p>Статистика погоды <a href="https://www.gismeteo.ru/diary/212194/2016/9/" target="_blank">с. Нижняя Банновка</a>,  <a href="https://www.gismeteo.ru/diary/11506/2016/9/" target="_blank">Красноармейск</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end-of-column-6-->

                    <div class="col-md-6 col-sm-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#questions" href="#question6"> 6 <span>Сертификация ITRA</span> </a> </h4>
                            </div>
                            <div id="question6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Дистанция 70.8 км (2170 D+) прошла сертификацию на 4 балла, 36.4 км (1300 D+) сертифицирована на 2 балла. </p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#questions" href="#question7"> 7 <span>Скидки участникам</span> </a> </h4>
                            </div>
                            <div id="question7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>До 1 июля действует скидка на раннюю регистрацию и оплату. Для дистанции «Ultra» стоимость участия составит 3000 рублей, «Trail» - 2000 рублей.</p>
                                    <p>Доополнительные скидки предоставляются:<br>
                                        10% - беговым клубам-партнерам при количестве участников от 10 человек, представителям спонсоров;<br>
                                        50% - пенсионерам и ветеранам труда, многодетным родителям, участникам боевых действий, студентам;<br>
                                        100% - ультраветеранам, участникам 65 (М)/60(Ж) лет и старше.<br>
                                        Дополнительные скидки не суммируются</p>
                                </div>
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#questions" href="#question8"> 8 <span>Оплата и возврат</span> </a> </h4>
                            </div>
                            <div id="question8" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Вы сначала подаете заявку, мы в течение 1-2 суток рассматриваем ее и отвечаем. Вам будет выставлена квитанция на оплату.</p>
                                    <p>При наличии дополнительных скидок указывайте их при заявке или свяжитесь с нами отдельно.</p>
                                    <p><a href="/oplata/">Инструкция</a> по оплате</p>
                                    <p>Стартовый взнос не возвращается после 15 августа, даты закрытия приема заявок. Возврат возможен только в индивидуальном порядке и на индивидуальных условиях, в зависимости от даты и понесенных затрат организатором.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#questions" href="#question9"> 9 <span>Награждение</span> </a> </h4>
                            </div>
                            <div id="question9" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Участники разделяются на два зачета: мужской и женский, а также на три возрастные группы: 18-39, 40-49, 50 и старше.</p>
                                    <p>Награждение происходит во всех возрастных группах вне зависимости от количества участников.</p>
                                    <p>Все участники, уложившиеся в контрольное время, получат оригинальную медаль финишера.</p>
                                    <p>Организатор оставляет за собой право добавить группу 60+ при наличии должного количества заявок до 1 июля 2017 года.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#questions" href="#question10"> 10 <span>Медицинская справка</span> </a> </h4>
                            </div>
                            <div id="question10" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Медицинская справка по правилам проведения соревнования по легкой атлетике обязательна. Она дает допуск вашего участия к соревнованиям.</p>
                                    <p>Медицинская страховка на день соревнований является рекомендуемой нами, она поможет получить компенсацию на лечение в случаях получения травм.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end-of-column-6-->
                </div>
                <!--end-of-accordion-->

            </article>
        </div>
    </div>
</section>
<!--END-FAQ-->
