<!--BEGIN-INTRO-BOX-->
<section id="intro" class="page-block">
    <div class="container">
        <div class="section">
            <article>
                <h3>О районе <span>соревнований</span></h3>
                <p>Дистанция ультра трейла пройдет в одном из самых живописных мест Саратовской области на территории Памятника природы «Нижне-Банновский».
                    Ежегодно сотни туристов приезжают на Утес Степана Разина полюбоваться красотой природы и прикоснуться к истории Поволжья.
                    Но мы не будем бегать вокруг туристов на утесе, участников ожидают разные технические участки: крутые спуски и подъемы, русло высохшей реки, коастеринг вдоль обрывистых берегов Волги, Можжевеловый овраг, красивые балки.
                    Вперые SAMBA трейл состоялся в формате двухдневного марш-броска в 2012 году. И вот спустя 5 лет SAMBA возвращается. Мы постараемся выйти на новый уровень, сохранив душевную атмосферу и добавив гонке местный колорит.
                </p>
            </article>
        </div>
        <!--end-section-->
    </div>
</section>
<!--END-INTRO-BOX-->
