<!--BEGIN-PARTNERS-->
<section id="partners" class="page-block">
    <div class="container">
        <div class="section">
            <header class="page-head">
                <h2>Партнеры / Спонсоры / Волонтеры</h2>
                <p class="text-muted">Наши Уважаемые Партнеры / Спонсоры на соревнованиях</p>
            </header>
            <article>
                <p>Мы хотим дать максимум нашим участникам до, во время, и после соревнований.
                    У вас есть что нам предложить? Пишите, и мы вместе сделаем соревнования незабываемыми!<br>
                    Также приглашаем к сотрудничеству беговые клубы, ваша информационная поддержка и представительство от 10 человек - наша дополнительная 10% скидка.<br>
                    Вы фотограф-любитель? Хотите принять участие в соревнованиях, запечатлеть событие и участников, побывать в красивейших местах области, получить новый опыт - свяжитесь с нами!<br>
                    Волонтеры и болельщики, кто они? Люди, помогающие участникам преодолевать себя на пунктах "питания и жизни". Присоединяйтесь!
                </p>
            </article>
            <div class="partner clearfix">
                <a href="https://www.sarsport.ru" title="Экипировочный центр СпортМир" target="_blank"> <img class="img-responsive" src="/img/partners/sportmir.jpg" alt="СпортМир" /> </a>
                <a href="http://www.1batut.ru" title="Батутный центр Небо" target="_blank"> <img class="img-responsive" src="/img/partners/nebo.png" alt="Батутный центр Небо" /> </a>
                <a href="http://clubsokol.ru" title="Клуб ходьбы и бега Сокол" target="_blank"> <img class="img-responsive" src="/img/partners/sokol.jpg" alt="КЛБ Сокол" /> </a>
                <a href="http://procat-club.com" title="ProCat - триатлон, велспорт, лыжи" target="_blank"> <img class="img-responsive" src="/img/partners/procat.png" alt="ProCat" /> </a>
                <a href="http://saratovclimbers.ru" title="Скалолазание в Саратове" target="_blank"> <img class="img-responsive" src="/img/partners/climbers.jpg" alt="Скалолазание в Саратове" /> </a>
                <a href="http://www.zolotoe.net" title="Российский производитель уникальной керамики" target="_blank"> <img class="img-responsive" src="/img/partners/zolotoe.png" alt="Золотое. Керамика" /> </a>
                <a href="https://sporttitan.ru" title="Спорт Титан | Спорт, фитнес и здоровье | Спортивное питание | Магазин" target="_blank"> <img class="img-responsive" src="/img/partners/fitness_life.png" alt="Спорт Титан" /> </a>
                <a href="http://rocktape.ru" title="Go stronger, longer. - RockTape" target="_blank"> <img class="img-responsive" src="/img/partners/rocktape.png" alt="RockTape" /> </a>
                <a href="http://olly-sport.ru" title="OLLY профессиональная спортивная одежда" target="_blank"> <img class="img-responsive" src="/img/partners/olly.png" alt="OLLY" /> </a>

            </div>
        </div>
    </div>
</section>
<!--END-PARTNERS-->
