<!--BEGIN-PRICING-->
<section id="pricing" class="page-block">
    <div class="container">
        <div class="section clearfix">

            <header class="page-head">
                <h2>Стартовый взнос</h2>
                <p class="text-muted">До 1 июля действует скидка на раннюю регистрацию. Дополнительные скидки предоставляются:<br>
                    10% - беговым клубам-партнерам при количестве участников от 10 человек, представителям спонсоров;<br>
                    50% - пенсионерам и ветеранам труда, многодетным родителям, участникам боевых действий, студентам;<br>
                    100% - ультраветеранам, участникам 65 (М)/60(Ж) лет и старше.<br>
                    Дополнительные скидки не суммируются
                </p>
            </header>

            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <div class="priceBox featured">
                    <div class="heading">
                        <h2>«Ultra» 70.8 км, 2170 D+, КВ 15ч</h2>
                    </div>
                    <div class="price text-center">
                        <strong><s>3000</s><small> руб.</small></strong>
                        <strong>4000<small> руб.</small></strong>
                    </div>
                    <ul class="text-center">
                        <li>Стартовый пакет</li>
                        <li>Питание на дистанции</li>
                        <li>Медаль финишера</li>
                        <li>Ужин</li>
                    </ul>
                    <a title="Заявиться на соревнования" class="btn register-trigger-show"  target="_blank" href="https://goo.gl/forms/Srml8ou016pBiKbt2"><i class="fa fa-plus-circle"></i> Заявиться</a>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <div class="priceBox">
                    <div class="heading">
                        <h2>«Trail» 36.3 км, 1300 D+, КВ 8ч</h2>
                    </div>
                    <div class="price text-center">
                        <strong><s>2000</s><small> руб.</small></strong>
                        <strong>2500<small> руб.</small></strong>
                    </div>
                    <ul class="text-center">
                        <li>Стартовый пакет</li>
                        <li>Питание на дистанции</li>
                        <li>Медаль финишера</li>
                        <li>Ужин</li>
                    </ul>
                    <a title="Заявиться на соревнования" class="btn register-trigger-show"  target="_blank" href="https://goo.gl/forms/Srml8ou016pBiKbt2"><i class="fa fa-plus-circle"></i> Заявиться</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--END-PRICING-->
