<!--BEGIN-SPEAKERS-->
<section id="team" class="">
    <div class="container">
        <div class="section clearfix bottom-margin">
            <header class="page-head colored clearfix">
                <h2>Наша Команда</h2>
                <p class="text-muted">Идейные двигатели САМБА ТРЕЙЛ</p>
            </header>
            <article>
                <p>Для Вас «САМБА ТРЕЙЛ» готовит группа людей. Постепенно мы познакомимся с ними поближе.</p>
            </article>
        </div>
        <div class="row clearfix speaker-grid">

            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="section no-padding">
                    <figure>
                        <img src="/img/organizators/dima.jpg" alt="Организатор" class="img-responsive" />
                        <figcaption class="speaker-info">
                            C 2011 года начал принимать участие в мультигонках. В 2016 г. первый раз пробежал Ультра на Эльбрусе (59 км).  В 2017 году в планах Маркотх (80 км).<br>
                            Принимает активное участие в подготовке и проведении соревнований по рогейну и марш-броскам. Имеет большой опыт в разметке трасс для веломарафона «Матч Городов России».
                        </figcaption>
                    </figure>
                    <div class="speaker clearfix">
                        <div class="col-md-10 col-sm-9 col-xs-9">
                            <h6>Дмитрий Петров</h6>
                            <p>Организатор</p>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-3 readIcon"> <i class="fa fa-chevron-circle-down"></i> </div>
                    </div>
                </div>
            </div>
            <!--end-col-md-4-->

            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="section no-padding">
                    <figure>
                        <img src="/img/organizators/dima_and_sveta.jpg" alt="Организатор" class="img-responsive" />
                        <figcaption class="speaker-info">
                            Perpetuum Mobile - самая опытная мультиспортивная команда Саратова, участники международных и российских стартов по трейлраннингу.<br>
                            В 1996 году начали проводить ежегодный рождественский марш-бросок. С середины 2000-х проводили мультигонку «Green Rabbit».<br>
                            Светлана была корреспондентом от портала x-race на AEWR 2016 и Crimea Xrun 2016.
                        </figcaption>
                    </figure>
                    <div class="speaker clearfix">
                        <div class="col-md-10 col-sm-9 col-xs-9">
                            <h6>Светлана Малова и Дмитрий Постнов</h6>
                            <p>Организатор</p>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-3 readIcon"> <i class="fa fa-chevron-circle-down"></i> </div>
                    </div>
                </div>
            </div>
            <!--end-col-md-4-->

            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="section no-padding">
                    <figure>
                        <img src="/img/organizators/egor.jpg" alt="Организатор" class="img-responsive" />
                        <figcaption class="speaker-info">
                            Егор имеет большой опыт участия в мультигонках, скалолазанию, альпинизму.<br>
                            Проводит традиционные соревнования «Кубок Будды» по боулдерингу, приключенческий лыжный забег в формате «offroad» «Кривая лыжа».<br>
                            Хорошо знаком с географией данного места.
                        </figcaption>
                    </figure>
                    <div class="speaker clearfix">
                        <div class="col-md-10 col-sm-9 col-xs-9">
                            <h6>Егор Неробеев</h6>
                            <p>Организатор</p>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-3 readIcon"> <i class="fa fa-chevron-circle-down"></i> </div>
                    </div>
                </div>
            </div>
            <!--end-col-md-4-->
        </div>
        <!--end-row-->
    </div>
</section>
<!--END-SPEAKERS-->
