<!--BEGIN-VENUE-->
<section id="venue" class="page-block">
    <div class="container">
        <div class="section clearfix bottom-margin">
            <header class="page-head">
                <h2>Контакты</h2>
                <p class="text-muted">С нами можно связаться следующим образом.</p>
            </header>
            <article>
                <div id="map_canvas"></div>
                <div class="row clearfix">
                    <div class="col-md-4 col-sm-12 column">
                        <div class="column-content">
                            <h3>Место <span>Старта</span></h3>
                            <ul class="address">
                                <li> <i class="fa fa-map-marker"></i> <strong>Адрес</strong><br>
                                    Саратовская область,<br>
                                    Красноармейский район, с. Нижняя Банновка </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 column">
                        <div class="column-content">
                            <h3>Директор <span>Соревнований</span></h3>
                            <ul class="address">
                                <li> <i class="fa fa-phone"></i> <strong>Телефон</strong><br>
                                    +7.987.825.92.09, Дмитрий </li>
                                <li> <i class="fa fa-envelope"></i> <strong>Email</strong><br>
                                    <a href="mailto:fightmaster@mail.ru">samba@sarsport.ru</a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 column">
                        <div class="column-content">
                            <h3>Экипировочный центр <span>СпортМир</span></h3>
                            <ul class="address">
                                <li> <i class="fa fa-map-marker"></i> <strong>Адрес</strong><br>
                                    г. Саратов, <br>
                                    ул. 5-я дачная, 9В </li>
                                <li> <i class="fa fa-phone"></i> <strong>Телефон</strong><br>
                                    +7 (8452) 47-000-1, Светлана</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end-of-row-->
            </article>
        </div>
    </div>
</section>
<!--END-VENUE-->
