<div class="tab-pane" id="exec-presence">
    <h3><i class="fa fa-star"></i> Участники <span>Самба Трейл</span></h3>
    <p>Предлагаем познакомиться с нашими участниками через интервью в рубрике <strong>#участник_самба_трейл_2017</strong>.</p>
    <ul class="li-blocks clearfix">
        <li><strong>Леонид Швецов</strong> - <strong>МСМК</strong> по легкой атлетике, экс-рекордсмен России в марафонском беге (<strong>2:09.16</strong>), действующий рекордсмен сверхмарафона <strong>Comrades</strong> (<strong>5:24.47</strong>|вверх), участник <strong>Олимпийских Игр</strong> (1996, 2004), тренер по бегу. <strong><a href="/2017/06/11/leonid_shvetsov/" target="_blank">Читать интервью</a></strong>.</li>
        <li><strong>Ирина Аверьянова</strong> - <strong>МСМК</strong> по легкой атлетике в сверхмарафонском беге (<strong>100 км</strong>), самая юная победительница сверхмарафона <strong>Passatore</strong> (Италия), а также обладательница наибольшего количества побед в нем среди женщин (<strong>4 победы</strong>), первая россиянка, выигравшая 6-и дневный ультрамарафон через Сахару <strong>Sultan Marathon des Sables</strong> (1993), бронзовый призер <strong>Чемпионата Мира</strong> на 100 км (1994). <strong><a href="http://www.sport-sar.ru/2017/07/12/irina-averyanova-o-sambe/">Читать интервью</a></strong>
            <!--Самая юная победительница сверхмарафона Passatore, а также имеет наибольшее количество побед в нем среди женщин (4 победы).-->
            <!--Первая среди россиян выиграла 6-ти дневный ультрамарафон через Сахару Sultan Marathon des Sables (1993), бронзовый призер Чемпионата Мира на 100 км (1994).-->
            <!--Лучший результат на марафоне - 2:49:45 (1993), на 100 км - 7:34:05 (1992). Читать интервью.</li>-->
        <!--<li><strong>Елена Лебедева</strong> - читать далее...</li>-->
        <!--<li><strong>Антон Жилин</strong> - читать далее...</li>-->
    </ul>
</div>
<!--end-event-schedule-content-->
