<div class="tab-pane" id="event-gallery">
    <h3><i class="fa fa-picture-o"></i> Samba <span>2012</span></h3>
    <p> </p>
    <div class="img-grid clearfix">
        <ul id="eg-thumbs" class="eg-thumbs clearfix">
            <li>
                <a href="/img/gallery/large/01.jpg" title="Samba 2012. Елена Лебедева, будущий член сборной России, победительница AEWR 2016" rel="prettyPhoto[gallery]"> <img src="/img/gallery/thumb/01.jpg" alt="Samba 2012" class="img-responsive">
                    <div class="img-caption"><span>Елена Лебедева, будущий член сборной России, победительница AEWR 2016</span></div></a>
            </li>
            <li>
                <a href="/img/gallery/large/02.jpg" title="Samba 2012. Только вверх..." rel="prettyPhoto[gallery]"> <img src="/img/gallery/thumb/02.jpg" alt="Samba 2012" class="img-responsive">
                    <div class="img-caption"><span>Только вверх...</span></div></a>
            </li>
            <li>
                <a href="/img/gallery/large/03.jpg" title="Samba 2012. Коастеринг под обрывами" rel="prettyPhoto[gallery]"> <img src="/img/gallery/thumb/03.jpg" alt="Samba 2012" class="img-responsive">
                    <div class="img-caption"><span>Коастеринг под обрывами</span></div></a>
            </li>
            <li>
                <a href="/img/gallery/large/04.jpg" title="Samba 2012. Дизайнер гонки" rel="prettyPhoto[gallery]"> <img src="/img/gallery/thumb/04.jpg" alt="Samba 2012" class="img-responsive">
                    <div class="img-caption"><span>Дизайнер гонки</span></div></a>
            </li>
            <li>
                <a href="/img/gallery/large/05.jpg" title="Samba 2012. Алексей Аверьянов, на вершине" rel="prettyPhoto[gallery]"> <img src="/img/gallery/thumb/05.jpg" alt="Samba 2012" class="img-responsive">
                    <div class="img-caption"><span>Алексей Аверьянов, на вершине</span></div></a>
            </li>
            <li>
                <a href="/img/gallery/large/06.jpg" title="Samba 2012. Подход к вершине" rel="prettyPhoto[gallery]"> <img src="/img/gallery/thumb/06.jpg" alt="Samba 2012" class="img-responsive">
                    <div class="img-caption"><span>Подход к вершине</span></div></a>
            </li>
            <li>
                <a href="/img/gallery/large/07.jpg" title="Samba 2012. Победители и призеры на финише" rel="prettyPhoto[gallery]"> <img src="/img/gallery/thumb/07.jpg" alt="Samba 2012" class="img-responsive">
                    <div class="img-caption"><span>Победители и призеры на финише</span></div></a>
            </li>
            <li>
                <a href="/img/gallery/large/08.jpg" title="Samba 2012. Участники Samba 2012" rel="prettyPhoto[gallery]"> <img src="/img/gallery/thumb/08.jpg" alt="Samba 2012" class="img-responsive">
                    <div class="img-caption"><span>Участники Samba 2012</span></div></a>
            </li>
        </ul>
    </div>
    <!--end-img-grid-->

</div>
<!--end-event-schedule-content-->
