<div class="tab-pane active" id="event-schedule">
    <h3><i class="fa fa-clock-o"></i> Программа <span>«САМБА ТРЕЙЛ»</span></h3>
    <p>Палаточный лагерь будет работать с пятницы по понедельник.</p>
    <div class="row clearfix">

        <div class="col-md-6 col-sm-12 schedule-box">
            <h6 class="section-head"><span>16 сентября</span> Суббота</h6>
            <ul class="activities">
                <li>
                    <h6><strong>08:00</strong> - Открытие </h6>
                    <p>Открытие палаточного лагеря соревнований, размещение участников.</p>
                </li>
                <li>
                    <h6><strong>09:00 - 12:00</strong> - Регистрация</h6>
                    <p>Начало утренней регистрации, выдача стартовых пакетов.</p>
                </li>
                <li>
                    <h6><strong>14:00 - 17:00 </strong> - Регистрация </h6>
                    <p>Продолжение регистрации участников, выдача стартовых пакетов.</p>
                </li>
                <li>
                    <h6><strong>17:30 - 18:00 </strong> - Открытие соревнований.</h6>
                    <p>Открытие соревнований.</p>
                </li>
                <li>
                    <h6><strong>18:00 - 19:00 </strong> - Брифинг </h6>
                    <p>Брифинг, презентация дистанций, рассказ о ключевых моментах, обсуждение, ответы на вопросы.</p>
                </li>
                <li>
                    <h6><strong>19:00 - 20:00 </strong> - "Pasta Party" </h6>
                    <p>Совместный ужин участников</p>
                </li>
                <li>
                    <h6><strong>19:30 - 22:00 </strong> - Регистрация </h6>
                    <p>Завершение регистрации на «Ultra», выдача стартовых пакетов.</p>
                </li>
                <li>
                    <h6><strong>22:00</strong> - Отбой</h6>
                    <p>Официальный отбой в лагере.</p>
                </li>
            </ul>
        </div>

        <div class="col-md-6 col-sm-12 schedule-box">
            <h6 class="section-head"><span>17 сентября</span> Воскресенье</h6>
            <ul class="activities">
                <li>
                    <h6><strong>04:30</strong> - Открытие стартового городка </h6>
                    <p>Открытие стартового городка, приготовления к старту участников.</p>
                </li>
                <li>
                    <h6><strong>05:00</strong> - Открытие стартовой зоны </h6>
                    <p>Участники «Ultra» приглашаются в стартовую зону.</p>
                </li>
                <li>
                    <h6><strong>05:30</strong> - Старт «Ultra»</h6>
                    <p>Участники «Ultra» отправляются на дистанцию.</p>
                </li>
                <li>
                    <h6><strong>07:00 - 09:00</strong> - Регистрация </h6>
                    <p>Завершение регистрации на «Trail», выдача стартовых пакетов.</p>
                </li>
                <li>
                    <h6><strong>09:30</strong> - Открытие стартовой зоны.</h6>
                    <p>Участники «Trail» приглашаются в стартовую зону.</p>
                </li>
                <li>
                    <h6><strong>10:00</strong> - Старт «Trail»</h6>
                    <p>Участники «Trail» отправляются на дистанцию.</p>
                </li>
                <li>
                    <h6><strong>11:30 - 13:00</strong> - Финиш лидеров</h6>
                    <p>Ожидается финиш лидеров на дистанциях «Ultra» и «Trail».</p>
                </li>
                <li>
                    <h6><strong>12:00</strong> - Кухня на финише</h6>
                    <p>На финише можно будет подкрепиться и поделиться впечатлениями.</p>
                </li>
                <li>
                    <h6><strong>14:00 - 15:00</strong> - Цветочная церемония награждения.</h6>
                    <p>Награждение абсолютных победителей и призеров «Ultra» и «Trail».</p>
                </li>
                <li>
                    <h6><strong>17:00</strong> - Закрытие финиша «Trail»</h6>
                </li>
                <li>
                    <h6><strong>18:00</strong> - Награждение</h6>
                    <p>Официальная церемония награждения в абсолюте и в возрастных категориях.</p>
                </li>
                <li>
                    <h6><strong>19:00-20:00</strong> - Встреча последних участников «Ultra»</h6>
                    <p>Встреча самых смелых участников «Ultra».</p>
                </li>
                <li>
                    <h6><strong>20:30</strong> - Закрытие финиша «Ultra»</h6>
                    <p>Закрытие финиша «Ultra».</p>
                </li>
                <li>
                    <h6><strong>21:00</strong> - Завершение работы кухни и финишного городка</h6>
                    <p>Закрытие финишного городка.</p>
                </li>
            </ul>
        </div>
    </div>
    <!--end-of-row-->
</div>
<!--end-event-schedule-content-->
