<div class="tab-pane" id="promo">
    <h3><i class="fa fa-play-circle"></i> Видео-ролики <span>Разведка дистанции</span></h3>
    <iframe width="425" height="250" src="https://www.youtube.com/embed/FhCkZNnnC0I" frameborder="0" allowfullscreen></iframe>
    <div class="clearfix"></div>
    <iframe width="425" height="250" src="https://www.youtube.com/embed/MOLK6HyaQQg" frameborder="0" allowfullscreen></iframe>
    <div class="clearfix"></div>
    <iframe width="425" height="250" src="https://www.youtube.com/embed/AjV59NSat_M" frameborder="0" allowfullscreen></iframe>
</div>
<!--end-event-schedule-content-->
